.titleSection {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 14px;

  display: flex;
  align-items: flex-end;

  min-width: 90px;
  height: 120px;
  padding-bottom: 3px;

  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.titleSection__svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 521px) {
  .titleSection {
    min-width: 152px;
    height: 145px;
    padding-bottom: 6px;

    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (min-width: 961px) {
  .titleSection {
    left: 56px;

    min-width: 296px;
    height: 210px;
    padding-bottom: 8px;

    font-size: 30px;
    line-height: 39px;
  }
}
