.pageName {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 14px;

  display: flex;
  align-items: flex-end;

  min-width: 50px;
  height: 120px;
  margin: 0;
  padding-bottom: 3px;
  padding-left: 6px;

  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-transform: lowercase;

  background-image: url("../../../assets/img/vector-left-m.svg");
  background-repeat: no-repeat;
  background-position: left 100%;
}

@media screen and (min-width: 521px) {
  .pageName {
    min-width: 116px;
    height: 145px;
    padding-bottom: 6px;

    font-size: 13px;
    line-height: 17px;

    background-image: url("../../../assets/img/vector-left-d.svg");
  }
}

@media screen and (min-width: 961px) {
  .pageName {
    right: 130px;

    height: 210px;
    padding-bottom: 8px;

    font-size: 15px;
    line-height: 19px;
  }
}
