.projectsOne {
  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;

  height: 100vh;
}

.projectsOne__bg {
  position: absolute;
  top: 0;
  left: 0;
  transform: perspective(200px) translateZ(24px);

  width: 100%;
  height: 100%;

  opacity: 0;
  background-image: url("../../assets/img/projects-page-slide-1.jpg");
  background-position: center center;
  background-size: 100% 100%;

  transition: transform 0.5s, opacity 2s ease-out;
}

.projectsOne--active .projectsOne__bg {
  transform: perspective(200px) translateZ(0);
  opacity: 1;
  transition: transform 3s ease-out, opacity 3s ease-out;
}

.projectsOne__wrapper {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: 135px 135px;
  grid-template-rows: 70px 70px;
  align-content: center;

  margin: 0 auto;
}

.projectsOne__scene {
  perspective: 600px;
}

.scene__card {
  cursor: pointer;

  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: center right;
  transform-style: preserve-3d;

  width: 100%;
  height: 100%;

  background-color: #272731;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

  transition: all 0.8s
}

.scene__card:hover {
  background-color: #999cd9;
}

.scene__card--active {
  transform: translateX(-100%) rotateY(-180deg);
  width: 160px;
  height: 130px;
  background-color: rgb(122 126 208 / 75%);
}

.scene__card--active-1 {
  top: -60px;
  left: -24px;
}

.scene__card--active-2 {
  top: -60px;
  right: -24px;
}

.scene__card--active-3 {
  bottom: -60px;
  left: -24px;
}

.scene__card--active-4 {
  right: -24px;
  bottom: -60px;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  padding-top: 16px;
  padding-left: 16px;
  font-size: 15px;
  line-height: 19px;
}

.card__face--back {
  transform: rotateY(180deg);

  overflow: hidden;

  padding: 8px 5px;

  font-size: 10px;
  line-height: 13px;
}

@media screen and (min-width: 521px) {
  .projectsOne__wrapper {
    grid-gap: 50px 56px;
    grid-template-columns: 260px 260px;
    grid-template-rows: 132px 132px;
  }

  .scene__card--active {
    transform: translateX(-100%) rotateY(-180deg);
    width: 330px;
    height: 160px;
  }

  .scene__card--active-1 {
    top: -28px;
    left: -70px;
  }

  .scene__card--active-2 {
    top: -28px;
    right: -70px;
  }

  .scene__card--active-3 {
    bottom: -28px;
    left: -70px;
  }

  .scene__card--active-4 {
    right: -28px;
    bottom: -70px;
  }

  .card__face--front {
    padding: 40px 40px 40px 60px;
    font-size: 20px;
    line-height: 26px;
  }

  .card__face--back {
    padding: 25px 15px;
    font-size: 15px;
    line-height: 19px;
  }
}

@media screen and (min-width: 961px) {
  .projectsOne__wrapper {
    grid-gap: 18px 84px;
    grid-template-columns: 380px 380px;
    grid-template-rows: 195px 195px;
  }

  .scene__card--active {
    transform: translateX(-100%) rotateY(-180deg);
    width: 414px;
    height: 220px;
  }

  .scene__card--active-1 {
    top: -26px;
    left: -35px;
  }

  .scene__card--active-2 {
    top: -26px;
    right: -35px;
  }

  .scene__card--active-3 {
    bottom: -26px;
    left: -35px;
  }

  .scene__card--active-4 {
    right: -26px;
    bottom: -35px;
  }

  .card__face--front {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    font-size: 30px;
    line-height: 39px;
    text-align: center;
  }

  .card__face--back {
    padding: 10px 18px;
    font-size: 20px;
    line-height: 25px;
  }
}
