.slide2 {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-image: url("../../../../assets/img/projects-page-slide-2.jpg");
  background-position: center center;
  background-size: cover;
}

.slide2__list {
  display: grid;
  grid-row-gap: 12px;

  width: 316px;
  margin: 0 auto;

  font-size: 8px;
  line-height: 10px;
}

.slide2__item {
  position: relative;

  display: flex;
  align-items: center;

  min-height: 22px;
  padding-left: 20px;
}

.slide2__item::before {
  content: "";

  position: absolute;
  left: 0;

  width: 12px;
  height: 12px;

  background-image: url("../../../../assets/img/list-style.svg");
  background-size: 100%;
}

@media screen and (min-width: 521px) {
  .slide2 {
    background-image: url("../../../../assets/img/projects-figure-1.svg"), url("../../../../assets/img/projects-page-slide-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto, cover;
  }

  .slide2__list {
    grid-row-gap: 16px;
    width: 556px;
    font-size: 15px;
    line-height: 19px;
  }

  .slide2__item {
    min-height: 38px;
    padding-left: 24px;
  }

  .slide2__item::before {
    width: 17px;
    height: 17px;
  }
}

@media screen and (min-width: 820px) {
  .slide2 {
    background-size: 80%, cover;
  }

  .slide2__list {
    grid-row-gap: 16px;
    width: auto;
    margin-right: 20%;
  }
}

@media screen and (min-width: 1220px) {
  .slide2 {
    background-position: 60% 120px, center center;
    background-size: 65%, cover;
  }

  .slide2__list {
    width: 650px;
    margin-top: 100px;
    font-size: 18px;
    line-height: 23px;
  }
}
