.projectsFour {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-image: url("../../assets/img/figure-4.svg"), url("../../assets/img/projects-page-silde-4.jpg");
  background-repeat: no-repeat;
  background-position: left 150px, center center;
  background-size: 185px 140px, cover;
}

.projectsFour__wrapper {
  display: grid;
  grid-row-gap: 30px;

  width: 182px;
  margin-bottom: 160px;

  font-size: 10px;
  line-height: 13px;
}

.projectsFour__videoFragment {
  width: 150px;
  height: 92px;
  margin-top: 160px;
  border-radius: 10px;
}

@media screen and (min-width: 521px){
  .projectsFour__wrapper {
    width: 300px;
    font-size: 12px;
    line-height: 15px;
  }

  .projectsFour__videoFragment {
    width: 150px;
    height: 92px;
  }
}

@media screen and (min-width: 820px) {
  .projectsFour {
    background-image: url("../../assets/img/projects-page-silde-4.jpg");
    background-position: center center;
    background-size: cover;
  }

  .projectsFour__wrapper {
    align-content: center;
    align-self: flex-start;

    width: 430px;
    height: 326px;
    margin-top: 100px;
    margin-bottom: 0;
    padding-left: 70px;

    background-image: url("../../assets/img/figure-4.svg");
    background-size: 100% 100%;
  }

  .projectsFour__videoFragment {
    align-self: flex-end;

    width: 350px;
    height: 182px;
    margin-top: 0;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 961px) {
  .projectsFour {
    column-gap: 60px;
    justify-content: space-between;
    background-size: 100% 100%;
  }

  .projectsFour__wrapper {
    width: 509px;
    height: 400px;
    margin-top: 100px;
    padding-left: 80px;

    font-size: 15px;
    line-height: 19px;
  }

  .projectsFour__videoFragment {
    width: 560px;
    height: 300px;
    margin: 0 auto 90px;
  }
}
